@font-face {
  font-family: 'DraegerSansBold';
  src: url('../fonts/DraegerSans-Bold_2021.ttf') format("truetype");      
}
@font-face {
  font-family: 'DraegerSansLight';
  src: url('../fonts/DraegerSans-Light_2021.ttf') format("truetype");
}
@font-face {
  font-family: 'DraegerSansRegular';
  src: url('../fonts/DraegerSans-Regular_2021.ttf') format("truetype");
}
@font-face {
  font-family: 'DraegerWalbaumBold';
  src: url('../fonts/DraegerWalbaum-Bold_2021.ttf') format("truetype");
}
@font-face {
  font-family: 'DraegerWalbaumItalic';
  src: url('../fonts/DraegerWalbaum-Italic_2021.ttf') format("truetype");
}
@font-face {
  font-family: 'DraegerWalbaumRegular';
  src: url('../fonts/DraegerWalbaum-Regular_2021.ttf') format("truetype");
}
@font-face {
  font-family: 'DraegerSansItalic';
  src: url('../fonts/DraegerSans-Italic_2021.ttf') format("truetype");
}